n8n-workflows/daily-digest.json
{
  "name": "Daily Digest — chat_hotel",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 22 * * *"
            }
          ]
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Daily at 01:00 MSK",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "param-hours",
              "name": "hours",
              "value": 24,
              "type": "number"
            },
            {
              "id": "param-channels",
              "name": "channels",
              "value": "=[\"chat_hotel\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000007",
      "name": "Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://app:8080/collect",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channels: $json.channels, hours: $json.hours }) }}",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Collect 24h Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-has-text",
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Has Text",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all posts into a single item with prompt for LLM\nconst posts = $input.all().map(item => ({\n  channel: item.json.channel,\n  date: item.json.date,\n  text: item.json.text,\n}));\n\nif (posts.length === 0) {\n  return [];\n}\n\nconst postsText = posts\n  .map((p, i) => `${i + 1}. ${p.text}`)\n  .join('\\n\\n---\\n\\n');\n\nconst prompt = `Ты — редактор профессионального дайджеста для отельеров. \nНиже — посты из Telegram-канала за последние 24 часа.\n\nСделай краткий дайджест на русском языке: выдели главные темы и ключевые новости.\nФормат — маркированный список, каждый пункт 1–2 предложения.\n\nПосты:\\n${postsText}`;\n\nreturn [{ json: { posts, prompt, post_count: posts.length } }];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Aggregate Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o-mini', messages: [{ role: 'user', content: $json.prompt }], temperature: 0.3 }) }}",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000008",
      "name": "Call LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst summary = response.choices[0].message.content;\nreturn [{ json: { summary } }];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000009",
      "name": "Extract Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "@dnd_daily",
        "text": "=📰 <b>Дайджест @chat_hotel</b>\n\n{{ $json.summary }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "disable_web_page_preview": true
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Send Digest",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1780, 300],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Daily at 01:00 MSK": {
      "main": [
        [
          {
            "node": "Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Params": {
      "main": [
        [
          {
            "node": "Collect 24h Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect 24h Posts": {
      "main": [
        [
          {
            "node": "Has Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Text": {
      "main": [
        [
          {
            "node": "Aggregate Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Posts": {
      "main": [
        [
          {
            "node": "Call LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LLM": {
      "main": [
        [
          {
            "node": "Extract Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Summary": {
      "main": [
        [
          {
            "node": "Send Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
